.header{
    background-color: #363433;
    display: grid;
    grid-template-columns: 25% 50% 20%;
    height: 60px;
    color: white;
}

.worldIcon{
    max-width: 60px;
}

.nomJeu{
    text-align: left;
}

.moneyTt{
    text-align: center;
}

.idJoueur{
    text-align: center;
}